// https://www.colorhexa.com/

// Fonts
$primary-font: 'Poppins', sans-serif;

// sidebar
$color-sidebar: #fff;
$border-sidebar: #ededed;

// Gray
$very-light-gray: #DFDFDF;

// Others
$white: #FFFFFF;
$black: #000000;

$very-dark-desaturated-blue: #2D3347;

